@import '../src/assets/style/variables';
@import 'github-markdown-css/github-markdown-light.css';

.article {
  margin: {
    bottom: 30px;
    top: 30px;
  }

  h1 {
    margin: 0 0 1em;
  }

  h2 {
    border-bottom: 1px solid $text-info-color;
    margin: 45px 0 .8em;
    padding-bottom: .7em;
  }

  h3 {
    margin: 52px 0 1.2em;
  }

  figure,
  p,
  ul,
  ol {
    margin: 1.2em 0;
  }

  p,
  ul,
  ol {
    line-height: 1.6em;
  }

  ul,
  ol {
    padding-left: 1.5em;

    > li {
      list-style-type: disc;
    }
  }

  a {
    color: $bg-color-leaf;
    font-weight: 600;
  }

  pre {
    overflow: auto;
    width: 80%;

    code {
      overflow: auto;
      width: 100%;
    }
  }

  hr {
    margin: {
      bottom: .3em;
      top: .3em;
    }
    width: 90vw;
  }

  blockquote {
    border-left: 4px solid $bg-color-leaf;
    margin: 2em 0;
    padding-left: 20px;

    p {
      font-weight: 600;
      margin-left: 0;
    }
  }

  iframe {
    margin: 1em 0;
  }
}
