@import 'src/assets/style/variables';

body {
  color: #333;
  font: 14px/1.6 Arial, "Microsoft YaHei", "??", "??", sans-serif;
  margin: 0;
}

html, body, #app {
  height: 100%;
}

button.blog-btn {
  background: transparent;
  border: 1px solid $theme-lighter-color;
  border-radius: 4px;
  color: $theme-color;
  font-size: 12px;
  font-weight: normal;
  line-height: 28px;
  padding: 0 8px;

  &:hover {
    color: #fff;
    background-color: $theme-lighter-color;
  }
}

input.is-active .ant-input__inner,
.ant-input__inner:focus,
.ant-textarea__inner:focus {
  border-color: $theme-lighter-color;
}