$theme-color: rgb(0, 153, 0);
$theme-font-color: #060;
$theme-lighter-color: rgba(0, 153, 51, .6);
$bg-color: #149739;
$bg-color-veg: #556b2f;
$bg-color-footer: #d7d7d7;
$font-color-footer: #666;
$text-lighter-color: #999;
$white: #fff;
