@import 'src/assets/style/variables';

.login,
.register {
  align-items: center;
  display: grid;
  justify-content: center;
  padding-top: 30px;

  .name,
  .password {
    margin: 10px 0 5px;
  }

  .error {
    color: $color-warn;
    font-size: 12px;
    margin: 5px 0;
  }

  .user-input {
    width: 400px;
  }

  .register-btn {
    justify-self: start;
    margin-top: 10px;
  }

  .notice {
    color: $text-lighter-color;
    font-size: 12px;
    margin-top: 30px;
    text-align: center;

    .to-login,
    .to-register {
      color: $theme-color;
    }

  }

}
