@import '../assets/style/variables';

button.blog-btn {
  background: $white;
  border: 1px solid $theme-lighter-color;
  border-radius: 4px;
  color: $theme-color;

  &:hover {
    background-color: $theme-lighter-color;
    color: $white;
  }
}
