@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';



.user-blog {
  @extend %use-info;

  .title {
    grid-column: 2;
    grid-row: 1;
    margin: 5px 0;
  }

  .user {
    color: $text-lighter-color;
    font-size: 12px;
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;

    &-page {
      color: $theme-color;
    }

    .created-at {
      padding: {
        left: .5em;
        right: .5em;
      }
    }

    .date {
      color: $font-color-veg;
    }
  }
}

.description {
  padding: 10px 0;
}
