@import 'src/assets/style/variables';
@import 'src/assets/style/mixin';

.user-info {
  @extend %use-info;

  // use by BlogDetail.tsx
  .title {
    grid-column: 2;
    grid-row: 1;
    margin: 5px 0;
  }

  .name {
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
  }
}

article .item {
  display: grid;
  grid: auto  auto auto / 80px 1fr;
  margin: 20px 0;
  max-width: 80vw;
  overflow: hidden;

  .date {
    grid-column: 1;
    grid-row: 1 / span 3;
    justify-self: center;
    text-align: center;

    .date-item {
      color: $text-lighter-color;
      display: block;
    }

    .day {
      font-size: 40px;
    }
  }

  .title {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
    margin: auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 50%;
  }

  .description {
    grid-column: 2;
    grid-row: 2;
    height: 3em;
    margin-top: .5em;
  }

  .actions {
    align-self: end;
    font-size: 12px;
    grid-column: 2;
    grid-row: 3;

    .edit {

      &:hover {
        color: $theme-lighter-color;
      }
    }

    .delete {
      color: $text-color;
      margin-left: 1em;

      &:hover {
        color: $color-warn;
      }
    }

    .detail-link {
      color: $theme-lighter-color;
      margin-left: 1em;
    }

  }

}

section article:last-child hr {
  display: none;
}
