@import 'src/assets/style/variables';

%h1-style {
  color: $white;
  font-size: 40px;
  text-transform: uppercase;
}

.blog-header {
  // 默认为未登录状态
  background: $bg-color-veg;
  display: grid;
  justify-items: center;
  padding: 0 12% 30px;

  .slogan {
    @extend %h1-style;
    margin: 60px 0 0;
  }

  .tips {
    color: $white;
    margin: 15px 0 0;
  }

  .btns {
    margin-top: 20px;
  }

  button {
    margin: 20px 5px 0;
  }

}

// 切换为登录状态 覆盖未登录状态样式
.login {
  align-items: center;
  background: $bg-color-veg;
  display: flex;

  .slogan {
    @extend %h1-style;
    flex: .4 1 0;
    margin: 0;
    padding: 0;
  }

  .tips {
    color: $white;
    flex: 1;
  }

  .edit-icon {
    color: $white;
    font-size: 30px;
  }

  .avatar {
    border: 1px solid $white;
    border-radius: 50%;
    height: 40px;
    margin-left: 15px;
    width: 40px;
  }
}

.blog-footer {
  background-color: $bg-color-footer;
  color: $font-color-footer;
  font-size: 13px;
  padding: 10px;
  text-align: center;
}
