@import 'src/assets/style/variables';

.create,
.edit {
  padding-bottom: 30px;

  .article {
    text-align: center;
  }

  .msg {
    color: $text-lighter-color;
    font-size: 12px;
    text-align: right;
  }

  .switch-box {
    margin: 15px 0;
  }

}
