@import 'src/assets/style/variables';

.create-edit {
  padding: {
    bottom: 30px;
    top: 30px;
  }

  .main-title {
    text-align: center;
  }

  .sub-title {
    padding-bottom: 5px;
  }

  .msg {
    color: $text-lighter-color;
    font-size: 12px;
    text-align: right;
  }

}

.switch-box {
  align-items: center;
  display: flex;
  margin: 15px 0;

  .label {
    .label-text {
      vertical-align: middle;
    }
  }

}
