@import 'src/assets/style/variables';

.blog-footer {
  background-color: $bg-color-footer;
  color: $font-color-footer;
  font-size: 13px;
  padding: 10px;
  text-align: center;

  a {
    .svg-logo {
      > svg {
        transform: scale(1.5);
      }
    }

    .link {
      cursor: pointer;
      font-size: 18px;
      padding: {
        left: .5em;
        right: .3em;
      }
      vertical-align: middle;

      &:hover,
      & + em:hover {
        color: $text-lighter-color;
      }
    }
  }

}
