@import 'src/assets/style/variables';

.create,
.edit {
  padding-bottom: 30px;

  .article {
    text-align: center;
  }

  .msg {
    color: $text-lighter-color;
    font-size: 12px;
    text-align: right;
  }

}

.switch-box {
  align-items: center;
  display: flex;
  margin: 15px 0;

  .label {
    .label-text {
      vertical-align: middle;
    }
  }

}
