@import 'src/assets/style/variables';

%h1-style {
  color: $white;
  font-size: 40px;
  text-transform: capitalize;
}

.blog-header {
  // 默认为未登录状态
  background: $bg-color-veg;
  display: grid;
  justify-items: center;
  padding: 0 12% 30px;

  .slogan {
    @extend %h1-style;
    margin: 60px 0 0;
    transform: translateX(3%);

    .default-logo {
      display: inline-block;

      padding: {
        left: 35px;
        right: 60px;
      }

      transform: translate(30%, 8%) scale(3);
    }

  }

  .tips {
    color: $white;
    margin: 15px 0 0;
  }

  .btns {
    margin-top: 20px;
  }

  button {
    margin: 20px 5px 0;
  }

}

// 切换为登录状态 覆盖未登录状态样式
.logged {
  align-items: center;
  background: $bg-color-veg;
  display: flex;

  .slogan {
    @extend %h1-style;
    flex: 1;
    margin: 0;
    transition: all 1.2s;

    .logo {
      display: inline-block;
      transform: translate(20%, 15%);
    }

    .em {
      font-size: 18px;
      padding-left: 10px;
    }

  }

  .user {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;

    &:hover > .menu {
      display: block;
    }

    .edit-icon {
      color: $white;
      font-size: 24px;
    }

    .avatar {
      border: 1px solid $white;
      border-radius: 50%;
      height: 100%;
      margin-left: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 40px;

    }

    .menu {
      background-color: $white;
      border: 1px solid $text-info-color;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 100%;
      transform: translateX(50%);

      .link {
        color: $text-color;
        display: block;
        font-size: 12px;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
          background-color: $text-info-color;
        }
      }

    }

  }

}
