@import 'src/assets/style/variables';

%user-quicklook {
  .img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }

  .info {
    color: $theme-lighter-color;
    font-size: 12px;
  }
}

.blog-post {
  .item {
    display: grid;
    grid: auto auto / 80px 1fr;
    margin: 20px 0;

    .avatar {
      grid-column: 1; // 等价写法 // grid-column: 1 / 2; // grid-column: 1 / span 1;
      grid-row: 1 / span 2;
      justify-self: center;
      margin-left: 0;
      text-align: center;

      @at-root & {
        @extend %user-quicklook;
      }

    }

    .title {
      align-items: center;
      display: flex;
      grid-column: 2;
      grid-row: 1;

      @at-root .date {
        color: $theme-lighter-color;
        font-size: 12px;
        font-weight: normal;
        margin-left: 1em;
      }
    }

    .article {
      font-weight: lighter;
      grid-column: 2;
      grid-row: 2;
      margin-top: 0;

      // 多行文字省略
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: normal;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

  }
}
