@import 'src/assets/style/variables';

.user-info {
  border-bottom: 1px solid #ebebeb;
  display: grid;

  grid: auto auto / 80px 1fr;
  margin-top: 30px;
  padding-bottom: 20px;

  .avatar {
    border-radius: 50%;
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 60px;
    width: 60px;
  }

  .name {
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
  }
}

section .item {
  display: grid;
  grid: auto  auto auto / 80px 1fr;
  margin: 20px 0;

  .date {
    grid-column: 1;
    grid-row: 1 / span 3;
    justify-self: center;
    text-align: center;

    .date-item {
      color: $text-lighter-color;
      display: block;
    }

    .day {
      font-size: 40px;
    }
  }

  .title {
    font-weight: bold;
    grid-column: 2;
    grid-row: 1;
  }

  .article {
    grid-column: 2;
    grid-row: 2;
    margin-top: 0;
  }

  .actions {
    font-size: 12px;
    grid-column: 2;
    grid-row: 3;

    .delete {
      color: $theme-lighter-color;
      margin-left: 1em;
    }

  }

}
