// layout 布局
.layout {
  align-items: center;
  display: grid;
  grid-template-areas: "header header header"
                       ".      main  ."
                       "footer footer footer";
  grid-template-columns: 12% auto 12%;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  .blog-header {
    grid-area: header;
    padding-left: 12%;
    padding-right: 12%;
  }

  .blog-main {
    grid-area: main;
  }

  .blog-footer {
    align-self: end;
    grid-area: footer;
    padding-left: 12%;
    padding-right: 12%;
  }

}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 10px auto 10px;

    .blog-header,
    .blog-footer {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}
