@import '../src/assets/style/variables';

// layout 布局
.layout {
  align-items: center;
  display: grid;
  grid-template-areas: 'header header header'
                       '.      main  .'
                       'footer footer footer';
  grid-template-columns: 12% auto 12%;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  justify-content: center;
  //overflow-x: hidden; // 会导致 document.documentElement.scrollTop 始终为 0 的 bug

  ::-webkit-scrollbar {
    display: none;
  }

  scroll-behavior: smooth;
  width: 100vw;

  .blog-header {
    box-shadow: 0 3px 7px 0 $box-shadow-color;
    grid-area: header;
    left: 0;
    padding-left: 12%;
    padding-right: 12%;

    position: fixed;
    top: 0;
    transition: all .3s; // 添加过渡，优化体验，平滑隐藏
    width: 100vw;
    z-index: 999;

    &.is-hide-header { // 这个类名用来动态改变显示藏（关键）
      transform: translateY(-100%);
    }

  }

  .blog-main {
    align-self: center;
    grid-area: main;
    max-width: 90vw;
    padding-top: 65px;

    &.logout {
      padding-top: 280px;
    }
  }

  .blog-footer {
    align-self: end;
    bottom: 0;
    box-shadow: 0 -3px 7px 0 $box-shadow-color;
    grid-area: footer;
    padding-left: 12%;
    padding-right: 12%;

    position: fixed;
    right: 0;
    transition: all .3s;
    width: 100vw;
    z-index: 999; // 添加过渡，优化体验，具体可以根据需求扩展

    &.is-hide-footer { // 这个类名用来动态改变显示藏（关键）
      transform: translateY(100%);
    }
  }

}

.is-blog-detail {
  align-items: start;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 10px auto 10px;

    .blog-header,
    .blog-footer {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

}
